<body data-content="books">
    <div class="container-fluid" id="big-container">
        <div class="row align-items-start my-5">
            <div class="col-12 col-md-9">
                {{!-- View button --}}
                <div class="dropdown">
                    <div class="row">
                        <div class="col-12 col-md-10">
                            <h5>Full Database</h5>
                            <div class="small">
                                * Every book on the list, without any of your interactions.
                            </div>
                        </div>
                        <div class="col col-md-2">
                            {{!-- View button --}} {{> all/view-toggle}}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <form>
                                <div class="form-group">
                                    <label for="bookInput">
                                        <strong>Search by: </strong>
                                    <button id="authorSearchButton">Author</button>
                                    <button id="bookTitleSearchButton">Title</button>
                                    </label>            
                                            
                                    <input type="text" class="form-control novelSearchBar" id="authorSearchFilter" placeholder="Enter author here">
                                </div>
                            </form>
                            Want to add a book not in the list?&nbsp
                            <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#addBook">Add book
                            </button>
                        </div>
                    </div>
                </div>
                {{!-- Database flows in here --}} {{> books/table-this}}
            </div>
        </div>
    </div>
    {{!-- NextUp list - right sidebar --}} {{> books/sidebar}}

    <p class="pl-3 py-1">Go here to see your
        <a href="/books/nextup">
            <strong> full list of NextUp books</strong>
        </a>.</p>
    </div>
    {{!-- Modal with form to add book --}}
    <div class="modal fade" id="addBook" tabindex="-1" role="dialog" aria-labelledby="addBookLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addBookLabel">Add your book</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="bookTitle">Title*</label>
                            <input type="text" class="form-control" id="bookTitle" aria-describedby="bookReq" required>
                            <small id="bookReq" class="form-text text-muted">A book title is required.</small>
                        </div>
                        <div class="form-group">
                            <label for="bookAuthor">Author</label>
                            <input type="text" class="form-control" id="bookAuthor">
                        </div>
                        <button type="submit" class="btn btn-small" id="btn-book">Add book</button>
                        <button type="button" class="btn btn-small" data-dismiss="modal">Discard</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>