{{!-- Three vertical sections --}}
<body id="dash-pg">
    <div class="container-fluid mt-5" id="dash-container">
        <div class="row">
            {{!-- Music column --}}
            <div class="col-md-4" id="music-col">
                <h3 class="py-2 border-bottom border-white">Music</h3>
                {{!-- Dummy text for now --}}
                <h5 class="pt-2">Pet Sounds</h5>
                <p class="mb-2">The Beach Boys — 1966</p>
                <div class="border-bottom border-white pb-2 mb-2">
                    {{!-- Button to mark as listened to --}}
                    <button type="button" class="btn btn-sm" id="completed">Listened to</button>
                    {{!-- Button to remove --}}
                    <button type="button" class="btn btn-sm ml-2" id="remove">Remove</button>
                </div>
                {{!-- Dummy text for now --}}
                <h5 class="pt-2">Revolver</h5>
                <p class="mb-2">The Beatles — 1966</p>
                <div class="border-bottom border-white pb-2 mb-2">
                    {{!-- Button to mark as listened to --}}
                    <button type="button" class="btn btn-sm" id="completed">Listened to</button>
                    {{!-- Button to remove --}}
                    <button type="button" class="btn btn-sm ml-2" id="remove">Remove</button>
                </div>
                {{!-- Dummy text for now --}}
                <h5 class="pt-2">Nevermind</h5>
                <p class="mb-2">Nirvana — 1991</p>
                <div class="border-bottom border-white pb-2 mb-2">
                    {{!-- Button to mark as listened to --}}
                    <button type="button" class="btn btn-sm" id="completed">Listened to</button>
                    {{!-- Button to remove --}}
                    <button type="button" class="btn btn-sm ml-2" id="remove">Remove</button>
                </div>
            </div>
            {{!-- Film column --}}
            <div class="col-md-4" id="films-col">
                <h3 class="py-2 border-bottom border-white">Films</h3>
                {{!-- Dummy text for now --}}
                <h5 class="pt-2">The Godfather</h5>
                <p class="mb-2">1972</p>
                <div class="border-bottom border-white pb-2 mb-2">
                    {{!-- Button to mark as listened to --}}
                    <button type="button" class="btn btn-sm" id="completed">Watched</button>
                    {{!-- Button to remove --}}
                    <button type="button" class="btn btn-sm ml-2" id="remove">Remove</button>
                </div>
                {{!-- Dummy text for now --}}
                <h5 class="pt-2">The Godfather II</h5>
                <p class="mb-2">1974</p>
                <div class="border-bottom border-white pb-2 mb-2">
                    {{!-- Button to mark as listened to --}}
                    <button type="button" class="btn btn-sm" id="completed">Watched</button>
                    {{!-- Button to remove --}}
                    <button type="button" class="btn btn-sm ml-2" id="remove">Remove</button>
                </div>
                {{!-- Dummy text for now --}}
                <h5 class="pt-2">Psycho</h5>
                <p class="mb-2">1960</p>
                <div class="border-bottom border-white pb-2 mb-2">
                    {{!-- Button to mark as listened to --}}
                    <button type="button" class="btn btn-sm" id="completed">Watched</button>
                    {{!-- Button to remove --}}
                    <button type="button" class="btn btn-sm ml-2" id="remove">Remove</button>
                </div>
            </div>
            {{!-- Books column --}}
            <div class="col-md-4" id="books-col">
                <h3 class="py-2 border-bottom border-white">Book</h3>
                {{!-- Dummy text for now --}}
                <h5 class="pt-2">Don Quixote</h5>
                <p class="mb-2">Miguel de Cervantes</p>
                <div class="border-bottom border-white pb-2 mb-2">
                    {{!-- Button to mark as listened to --}}
                    <button type="button" class="btn btn-sm" id="completed">Finished</button>
                    {{!-- Button to remove --}}
                    <button type="button" class="btn btn-sm ml-2" id="remove">Remove</button>
                </div>
                {{!-- Dummy text for now --}}
                <h5 class="pt-2">Pilgrim's Progress</h5>
                <p class="mb-2">John Bunyan</p>
                <div class="border-bottom border-white pb-2 mb-2">
                    {{!-- Button to mark as listened to --}}
                    <button type="button" class="btn btn-sm" id="completed">Finished</button>
                    {{!-- Button to remove --}}
                    <button type="button" class="btn btn-sm ml-2" id="remove">Remove</button>
                </div>
                {{!-- Dummy text for now --}}
                <h5 class="pt-2">Robinson Crusoe</h5>
                <p class="mb-2">Daneil Defoe</p>
                <div class="border-bottom border-white pb-2 mb-2">
                    {{!-- Button to mark as listened to --}}
                    <button type="button" class="btn btn-sm" id="completed">Finished</button>
                    {{!-- Button to remove --}}
                    <button type="button" class="btn btn-sm ml-2" id="remove">Remove</button>
                </div>
            </div>
        </div>
    </div>
</body>