<body data-content="music">
    <div class="container-fluid" id="big-container">
        <div class="row align-items-start my-5">
            <div class="col-md-9">
                {{!-- View button --}}
                <div class="dropdown mb-3">
                    <div class="row">
                        <div class="col-md-10">
                            <h5>Listened To</h5>
                            <div class="small">
                              * This view shows every album you've listened to from the list.
                            </div>
                        </div>
                        <div class="col-md-2">
                            {{!-- View button --}}
                            {{> all/view-toggle}}
                        </div>
                    </div>
                </div>
                {{!-- Database data flows in here--}}
                {{> music/table-album}}
            </div>
        </div>
    </div>

            {{!-- NextUp list -right sidebar --}}
            <div class="col-md-3 px-0 border" id="sidebar-music">
                <h3 class="p-3" id="bar">NextUp</h3>
                {{!-- Bring in sidebar partial --}}
                {{#each dashboard}}
                {{> music/sidebar}}
                {{/each}}

                <p class="pl-3 py-1">Go here to see your<a href="/api/music/nextup"><strong> full list of NextUp albums</strong></a>.</p>
            </div>
        </div>
</body>