<body data-content="music">
    <div class="container-fluid" id="big-container">
        <div class="row align-items-start my-5">
            <div class="col-12 col-md-9">
                {{!-- View button --}}
                <div class="dropdown">
                    <div class="row">
                        <div class="col-12 col-md-10">
                            <h5>Full Database</h5>
                            <div class="small">
                              * All albums listed, regardless of your previous actions.
                              <br><em>Note: Any actions you take on this list will override your previous actions.</em>                     
                            </div>
                        </div>
                        <div class="col col-md-2">
                            {{!-- View button --}} {{> all/view-toggle}}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <form>
                                <div class="form-group">
                                    <label for="musicInput"><strong>Search by artist</strong></label>
                                    <input type="text" class="form-control" id="musicInput" onkeyup="musicSearchBar()" placeholder="Enter artist here" title="Type in a artist">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {{!-- Database flows in here --}} {{> music/table-this}}
            </div>
        </div>
    </div>
    {{!-- NextUp list - right sidebar --}} {{> music/sidebar}}

    <p class="pl-3 py-1">Go here to see your
        <a href="/music/nextup">
            <strong> full list of NextUp albums</strong>
        </a>.</p>
    </div>
    </div>
    </div>
    {{!-- <script>
        function musicSearchBar() {
                    var input = document.getElementById("musicInput");
                    var filter = input.value.toLowerCase;
                    var tbody = document.getElementsByTagName("tbody")
                    var tr = document.getElementsByTagName("tr")
                    var artist = document.getElementById("artist")
                    console.log("this is the the searched item" + input)
                    for (var i = 0; i < tr.length; i++) {
                        var td = tr[i].getElementsByTagName("td")[0];
                        if (td) {
                            var txtValue = artist.textContent || artist.innerText;
                            if (txtValue.toLowerCase().indexOf(filter) > -1) {
                                tr[i].style.display = "";
                            } else {
                                tr[i].style.display = "none";
                            }
                        }
                    }
                }
    </script> --}}
</body>