<body data-content="music">
    <div class="container-fluid" id="big-container">
        <div class="row align-items-start my-5">
            <div class="col-12 col-md-9">
                {{!-- View button --}}
                <div class="dropdown">
                    <div class="row">
                        <div class="col-12 col-md-10">
                            <h5>Full Database</h5>
                            <div class="small">
                                * All albums listed, regardless of your previous actions.
                                <br><em>Note: Any actions you take on this list will override your previous actions.</em>
                            </div>
                        </div>
                        <div class="col col-md-2">
                            {{!-- View button --}} {{> all/view-toggle}}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <form>
                                <div class="form-group">
                                    <label for="musicInput"><strong>Search by artist</strong></label>
                                    <input type="text" class="form-control" id="musicInput" placeholder="Enter artist here">
                                    {{!-- add model that lets you create your own albums --}}
                                </div>
                            </form>
                            Want to add an album not in the list?&nbsp
                            <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#addAlbum">Add
                                album</button>
                        </div>
                    </div>
                </div>
                {{!-- Database flows in here --}} {{> music/table-this}}
            </div>
        </div>
    </div>
    {{!-- NextUp list - right sidebar --}} {{> music/sidebar}}

    <p class="pl-3 py-1">Go here to see your
        <a href="/music/nextup">
            <strong> full list of NextUp albums</strong>
        </a>.</p>
    </div>

    {{!-- Modal with form to add album --}}
    <div class="modal fade" id="addAlbum" tabindex="-1" role="dialog" aria-labelledby="addAlbumLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addAlbumLabel">Add your album</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="albumTitle">Title*</label>
                            <input type="text" class="form-control" id="albumTitle" aria-describedby="albumReq" required>
                            <small id="albumReq" class="form-text text-muted">An album title is required.</small>
                        </div>
                        <div class="form-group">
                            <label for="albumArtist">Artist</label>
                            <input type="text" class="form-control" id="albumArtist">
                        </div>
                        <div class="form-group">
                            <label for="albumYear">Year</label>
                            <input type="text" class="form-control" id="albumYear">
                        </div>                                               
                        <button type="submit" class="btn btn-small" id="btn-album">Add album</button>
                        <button type="button" class="btn btn-small" data-dismiss="modal">Discard</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
<<<<<<< HEAD
    </div>
=======

>>>>>>> 0e039b63dacf82e7fe3e83f9fb9af396f06ebfee
</body>