<body data-content="music">
    <div class="container-fluid" id="big-container">
        <div class="row align-items-start my-5">
            <div class="col-12 col-md-9">
                {{!-- View button --}}
                <div class="dropdown">
                    <div class="row">
                        <div class="col-12 col-md-10">
                            <h5>Full Database</h5>
                            <div class="small">
                                * Every album on the list, without any of your interactions.
                            </div>
                        </div>
                        <div class="col col-md-2">
                            {{!-- View button --}}
                            {{> all/view-toggle}}
                        </div>
                    </div>
                </div>
                {{!-- Database flows in here --}}
                {{> music/table-this}}
            </div>
        </div>
    </div>
    {{!-- NextUp list - right sidebar --}}
    {{> music/sidebar}}

        <p class="pl-3 py-1">Go here to see your<a href="/api/music/nextup"><strong> full list of
                    NextUp albums</strong></a>.</p>
    </div>
    </div>
    </div>
</body>