{{!-- View button --}}
<div class="dropdown" id="views">
    <button class="btn btn-secondary border-0 dropdown-toggle" type="button" id="db-list" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        View Options
    </button>
    <div class="dropdown-menu" aria-labelledby="db-list">
        <button class="dropdown-item" type="button" id="view-all">Remaining</a>
        <button class="dropdown-item" type="button" id="next-up">Nextup</a>
        <button class="dropdown-item" type="button" id="listened-to">Finished</a>
        <button class="dropdown-item" type="button" id="full-db">Search Full Database</a>
        {{!-- create --}}
        {{!-- search all created --}}
    </div>
</div>