$music-color: #F2BE54;
$movie-color: #CDD4CA;
$book-color: #87AEB4;
$body-color-index: #F3D250;
$navbar-color: #153E5C;
$navbar-text:white;
$body-color-dash: white;
$button-color: #153E5c;
$button-hover: #87AEB4;

// NAVBAR
.navbar-dark {
    background-color: $navbar-color;
    height: 80px;
        
    .navbar-brand {
        font-size: 40px;
        margin-left: 5%;
        color: $navbar-text
    }

    .navbar-nav {
        margin-left: 5%;
        margin-top: 2%;
}

    .nav-link {
        font-size: 20px;
        margin-top: 20px;
        margin-left: 20px;
        color: $navbar-text;
    }

    .user-link {
        display:none;
    }
}

// GLOBAL STYLES
a {
    color: $navbar-color;
}

a:hover {
    color: white;
    text-decoration: none;
}

hr {
    border-color: white;
}

.btn {
    background-color: $button-color;
    color: white;
}

.btn:hover {
    background-color: $button-hover;
    border: none;
}

.btn-sm {
    color: white;
    background-color: $navbar-color;
    margin-bottom: .3rem;
}

.btn-lg {
    color: white;
    background-color: $navbar-color;
}

#bar {
    background-color: $navbar-color;
    color: $navbar-text;
}

#sidebar-music {
    background-color: $music-color;
}

#sidebar-movies {
    background-color: $movie-color;
}

#sidebar-books {
    background-color: $book-color;
}

// INDEX PAGE
#index-pg {
    background-color: $body-color-index;
}

#create {
    display: inline;
}

#create-btn {
    width: 200px;
}

// LOGIN PAGE
#login-container {
    background-color: $music-color;
}

// DASHBOARD PAGE
p#subline {
    font-size: 14px;
}

.card-body {
    background-color: white;
}

.card-header {
    background-color: white;
    padding: 0;
}

#dash-pg {
    background-color: $body-color-dash
}

#music-col {
    background-color: $music-color;
    border-right: 10px solid white;
}

#movies-col {
    background-color: $movie-color;
    border-right: 10px solid white;
}

#books-col {
    background-color: $book-color;
}

// SPECIFIC PAGES

table {
    border-bottom: 1px solid #dee2e6; 
}

#big-container {
    width: 95%;
}

#btn-accordion {
    background-color: white;
    font-size: 20px;
}

#btn-accordion:hover {
    color: $music-color!important;
    font-size: 20px;
    text-decoration: none;
}

.btn-amazon-music, .btn-amazon-movies, .btn-amazon-books {
    background-color: $music-color;
    
}

.btn-link:hover{
    color: white!important;
    text-decoration: none;

}

#btn-row {
    width: 32%;
}

#btn-row-fn {
    width: 15%;
}

#database {
    background-color: white;
}

#views {
    float: right;
}

// MEDIA QUERIES

@media screen and (max-width: 767.98px) {
    .navbar {
        z-index: 1;
    }
    
    .navbar-nav {
      background: $navbar-color;
    }    

    .display-4 {
        font-size: 3rem;
    }

    #dash-container {
        z-index: 0;
        margin-top: 2%!important;
    }

    #music-col {
        border: none;
    }

    #movies-col {
        border: none;
        margin-top: 2%;
    }
    
    #books-col {
        border: none;
        margin-top: 2%;
    }

    #sidebar-music {
        display:none;
    }

    #views {
        float: left;
        margin-top: .3rem;
    }

}

@media screen and (max-width: 576px) {
    .table>tbody>tr>td {
        display: block;
        border-top: none;
        padding: 3px;
    }
    
    .table>tbody>tr>th {
        display: block;
        padding: 3px;
        margin-top: 15px;
    }

    .table>thead>tr>th {
        display: none;
    }

    #btn-row {
        width: 100%;
    }
}